<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{heading}}</h5>
      <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="" [ngClass]="fa1"></i></span><b>{{user}}</b></li>
        <li><span class="fa-li"><i class="" [ngClass]="fa1"></i></span>{{storage}} Storage</li>
        <li><span class="fa-li"><i class="" [ngClass]="fa1"></i></span>Unlimited Public Projects</li>
        <li><span class="fa-li"><i class="" [ngClass]="fa1"></i></span>Community Access</li>
        <li class="" [ngClass]='color1'><span class="fa-li"><i class="" [ngClass]="fa2"></i></span>Unlimited Private Projects</li>
        <li class="" [ngClass]='color2'><span class="fa-li"><i class="" [ngClass]="fa3"></i></span>Dedicated Phone Support</li>
        <li class="" [ngClass]='color3'><span class="fa-li"><i class="" [ngClass]="fa4"></i></span><b>{{subdomain}}</b> Free Subdomain</li>
        <li class="" [ngClass]='color4'><span class="fa-li"><i class="" [ngClass]="fa5"></i></span>Monthly Status Reports</li>
      </ul>
      <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
    </div>
</div>
