<section class="pricing py-5">
  <h1>Angular Card Assigment</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let cardData of data">
        <app-card [heading]="cardData.heading" [price]="cardData.price" [user]="cardData.user" [storage]="cardData.storage" [subdomain]="cardData.subdomain" [color1]="cardData.color1" [color2]="cardData.color2"[color3]="cardData.color3"[color4]="cardData.color4" [fa1]="cardData.fa1" [fa2]="cardData.fa2"[fa3]="cardData.fa3"[fa4]="cardData.fa4"[fa5]="cardData.fa5"></app-card>
      </div>
      
    </div>
  </div>
</section>

